/*------------- PARAMETERS -------------*/
$color-blue:#6a81b3;
$color-white:white;
$color-gray:#8a8a8a;
$color-background: rgb(29, 22, 83);
$color-background-transparent: rgba(29, 22, 83,0.5);
$color-background-2:#A2003E;
$color-black:black;

$font-family-default:'Open Sans', sans-serif;
$font-family-title:'Montserrat', sans-serif;